/* =Helpers.
 -------------------------------------------------------------- */
.text-align-center {
	text-align : center !important;
}

.text-align-right {
	text-align : right !important;
}

.display-none {
	display : none;
}

.cf-position-relative {
	position : relative;
}

/* =Messages.
 -------------------------------------------------------------- */
#cf-message-container .cf-notification-message, #cf-message-container .cf-error-message {
	background : none repeat scroll 0 0 #dff0d8;
	border     : 1px solid #d6e9c6;
	color      : #468847;
}

#cf-message-container div {
	background-repeat : repeat-x;
	border-radius     : 3px 3px 3px 3px;
	font-weight       : bold;
	margin            : 5px 0 15px;
	padding           : 0 0.6em;
}

#cf-message-container div p {
	margin      : 0.5em 0 !important;
	margin-left : 1.5em !important;
	padding     : 2px 2px 0;
}

.cf-notification-message.cf-positive .cf-icon-suggestion-type {
	background : url("../images/positive.png") no-repeat scroll 0 0 transparent;
	height     : 16px;
	left       : 0.6em;
	position   : absolute;
	top        : 0.7em;
	width      : 16px;
}

#cf-message-container .cf-error-message {
	background   : none repeat scroll 0 0 #f2dede;
	border-color : #eed3d7;
	color        : #b94a48;
}

.cf-error-message.cf-negative .cf-icon-suggestion-type {
	background : url("../images/negative.png") no-repeat scroll 0 0 transparent;
	height     : 16px;
	left       : 0.6em;
	position   : absolute;
	top        : 0.7em;
	width      : 16px;
}

/* =Add/Edit Block Content.
 -------------------------------------------------------------- */
.cf-page .wp-editor-tools {
	padding : 0 0 0 10px;
}

.cf-page .wp-editor-tools a {
	float : left;
}

.cf-submit-tr {
	background-color : #fffbda;
	border-top       : 1px solid #dc9a00;
}

.cf-ajax-loader-container {
	display  : inline-block;
	position : relative;
}

.cf-ajax-loader {
	display  : none;
	left     : 0;
	position : absolute;
	top      : -1.2em;
}

.cf-page .cf-page-header {
	line-height   : 0.9 !important;
	margin-bottom : 0.5em;
}

.select-container select {
	width : 20em !important;
}

.select-container {
	margin-top : 1em;
}

.chzn-container-multi .search-choice {
	float        : none !important;
	margin-right : 4px !important;
}

.chzn-container-multi .search-choice {
	float        : none;
	margin-right : 4px !important;
}

.chzn-container-multi .search-field input {
	height : inherit !important;
}

tr.cf-separator {
	height : 1em !important;
}

#cf-templates-container {
	display : hidden !important;
}

.cf-page #content_text {
	height : 17.3em
}

/* =List Block Contents.
 -------------------------------------------------------------- */
#content-blocks-list .button-secondary, #TB_window .button-primary {
	background   : -moz-linear-gradient(center top, white, #ca3535 4%, #790000) repeat scroll 0 0 transparent;
	background   : -webkit-linear-gradient(top, #ca3535, #790000) repeat scroll 0 0 transparent;
	background   : -ms-linear-gradient(top, #ca3535, #790000) repeat scroll 0 0 transparent;
	background   : -o-linear-gradient(top, #ca3535, #790000) repeat scroll 0 0 transparent;
	background   : linear-gradient(top, #ca3535, #790000) repeat scroll 0 0 transparent;

	border-color : #bf3636 #5d0000 #0a0000;
	color        : white;
	text-shadow  : none;
}

#content-blocks-list .button-secondary:hover, #TB_window .button-primary:hover {
	background : -moz-linear-gradient(center top, white, #dd3a3a 4%, #9a0000) repeat scroll 0 0 transparent;
	background : -webkit-linear-gradient(top, #dd3a3a, #9a0000) repeat scroll 0 0 transparent;
	background : -ms-linear-gradient(top, #dd3a3a, #9a0000) repeat scroll 0 0 transparent;
	background : -o-linear-gradient(top, #dd3a3a, #9a0000) repeat scroll 0 0 transparent;
	background : linear-gradient(top, #dd3a3a, #9a0000) repeat scroll 0 0 transparent;
}

/* =DataTables style fixes.
 -------------------------------------------------------------- */
#content-blocks-list_filter input {
	height : 30px !important;
}

#content-blocks-list th {
	background  : -moz-linear-gradient(center top, white, #ececec 4%, #f9f9f9) repeat scroll 0 0 transparent;
	background  : -webkit-linear-gradient(top, #f9f9f9, #ececec) repeat scroll 0 0 transparent;
	background  : -ms-linear-gradient(top, #ececec, #f9f9f9) repeat scroll 0 0 transparent;
	background  : -o-linear-gradient(top, #ececec, #f9f9f9) repeat scroll 0 0 transparent;
	background  : linear-gradient(to top, #ececec, #f9f9f9) repeat scroll 0 0 #f1f1f1;

	color       : #333333 !important;
	font-weight : normal;
	font-family : Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	text-shadow : 0 1px 0 rgba(255, 255, 255, 0.8);
}

.column_actions {
	width : 7.5em !important;
}

.column_shortcode {
	width : 10em !important;
}